  <link href="https://fonts.googleapis.com/css?family=Rammetto One" rel="stylesheet" type="text/css">


<header class="text-center container-fluid">
  <h1>Eat Da Burger</h1>  
  <h4> "Yeah Baby, That's The Name! ®"</h4>
</header>

<section class="text-center container-fluid">
   <div class="row">
        <div class="col-md-6">
             <div class="menu">
                  <h3>Now Serving</h3>
                  <div id="serving" class="text-center container-fluid">
                  {{#each ready}}
                  <div class="row">
                     <div class="col-sm-10">
                       <h5>{{this.burger_name}}</h5>
                     </div>
                     <div class="col-sm-2">
                       <button id={{this.id}} class="btn btn-smash smash"> Smash </button>
                     </div>
                  </div>
                  {{/each}}
                 </div>
            </div>
        </div>
        <div class="col-md-6">
             <div class="menu">
                  <h3>Burger Graveyard</h3>
                  {{#each eaten}}
                  <div class="ded">
                      {{this.burger_name}}
                  </div>
                  {{/each}}

            </div>
        </div>
   </div>
</section>

<section id="add" class="text-center container-fluid">
  <h3> Add Da Burger </h3>
  <form>
      <input id="burger"><br>
      <input id="submit" type="submit" class="btn btn-smash">
  </form>
  
</section>